.main {
  background: #f8f8f8;
}

.main-visual {
  height: 560px;
  background-image: url(/assets/bg-main-visual-pict_pc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding: 0 60px;
  display: flex;
  align-items: center;
}

.content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 35px 0 0 0;
}

.content-subtitle {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 60px;
  line-height: 1.2;
  color: #fff;
}

.content-subtitle > br {
  font-size: 100%;
  font-weight: normal;
}

.content-text {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 18px;
  color: #fff;
  line-height: 1.77778;
  margin: 16px 0 0 0;
}

.content-btn {
  display: flex;
  margin: 24px 0 0 0;
}

.content-btn > a:first-child {
  margin-right: 10px;
}

.apple-btn {
  width: 180px;
}

.apple-btn > img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.google-btn {
  width: 180px;
}

.google-btn > img {
  width: 100%;
  vertical-align: bottom;
}

.picture {
  position: absolute;
  top: 0;
  right: 210px;
}

.top-introduction {
  padding: 60px 20px;
}

.top-introduction > .sub-title {
  text-align: center;
  font-size: 26px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}

.top-introduction > .sub-title::after {
  content: "";
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.lists {
  text-align: center;
  display: flex;
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.list {
  width: 30%;
  margin: 16px 5% 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-pict {
  position: relative;
  margin-bottom: 20px;
}

.number {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4%;
  font-size: 30px;
  text-align: center;
  margin: 0 5px 0 0;
  padding: 10px 20px;
  background-color: #3ccace;
  color: #fff;
}

.list-pict > img {
  width: 100%;
  vertical-align: bottom;
}

.list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
  margin: 0 0 0 2px;
}

.text-blue {
  color: #3ccace;
}

.list-description {
  font-size: 18px;
  line-height: 1.5;
  margin: 16px 0 0;
}

.list-last {
  width: 30%;
  margin: 16px 5% 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0 0;
}

.top-middle {
  background-image: url(/assets/bg-top-middledl-pict.jpg);
  background-position: bottom right;
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;
}

.top-middle-inner {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  text-align: left;
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}

.top-middle-inner > .sub-title {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.4;
}

.top-middle-text {
  font-size: 18px;
  margin: 20px 0 30px;
  line-height: 1.5;
}

.top-middle-btn {
  display: flex;
}

.top-middle-btn > a {
  margin-right: 10px;
}

.middle-apple-btn {
  width: 180px;
  height: 100%;
  vertical-align: bottom;
}

.middle-google-btn {
  width: 180px;
  vertical-align: bottom;
}

.top-key-features {
  padding: 60px 100px;
  background-color: #fff;
}

.top-key-head {
  font-size: 27px;
  text-align: center;
  margin: 0 0 40px;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}

.top-key-head::after {
  content: "";
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.top-items {
  max-width: calc(1040px + 20px);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.top-item {
  display: flex;
  flex-direction: column;
  width: calc(1 / 3 * 100%);
  text-align: center;
  padding: 0 20px;
}

.top-item-img {
  width: 70%;
  margin: 0 auto;
  line-height: 120px;
}

.top-item-img > img {
  width: 100%;
  vertical-align: bottom;
}

.top-item-subtitle {
  margin: 38px 0 10px;
  font-size: 19px;
  font-weight: bold;
}

.top-item-detail {
  margin: 0 0 40px;
  font-size: 17px;
  font-weight: 200;
  text-align: left;
}

.pickup-container {
  padding: 80px 0 0;
  background-color: #f8f8f8;
  height: 100%;
}

.pickup-container:last-child {
  padding-bottom: 80px;
}

.pickup-container-head {
  text-align: center;
  font-size: 28px;
  line-height: 1.4;
  font-weight: bold;
}

.product-head {
  text-align: center;
}

.product-head > a {
  font-size: 24px;
  text-decoration: none;
  color: #3ccace;
}

.product-head-title {
  font-weight: bold;
}

.product-lists {
  width: 780px;
  margin: 26px auto;
  display: flex;
  justify-content: space-around;
  @media (max-width: 760px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product-list {
  width: 220px;
  display: inline-block;
  @media (max-width: 760px) {
    margin-bottom: 10px;
  }
}

.product-list > a {
  background-color: #fff;
  display: inline-block;
  text-decoration: none;
}

.product-list-img {
  width: 220px;
  height: 150px;
  position: relative;
  overflow: hidden;
  margin: 0;
  z-index: auto;
}

.product-list-img > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: auto;
  height: 150px;
  object-fit: cover;
}

.product-list-body {
  background-color: white;
  color: #333;
  padding: 16px;
}

.product-name {
  overflow: hidden;
  line-height: 1.5;
  font-size: 16px;
  text-align: left;
}

.product-details {
  font-size: 16px;
}

.product-details > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.star-icon {
  height: 15px;
  width: 15px;
}

.star-icon > img {
  width: 15px;
  height: 15px;
}

.product-details > p {
  font-size: 10px;
  text-align: left;
}
