<div class="items-new">

<%# ヘッダー %>
  <header class="items-header">
    <a href="/"><img class="items-header-img" src="/assets/logo.png" width="185" height="50"></a>
  </header>

<%# メイン %>
  <div class="items-main">
    <section class="items-main-container">
      <h2 class="items-main-container-head">商品の情報を入力</h2>
      
<%# // 出品画像 %>
      <div class="items-sell-upload-box">
        <h3 class="items-sell-upload-head">
          出品画像
        <span class="items-sell-require">必須</span>
        </h3>

        <div class="items-sell-upload-img">
            <label class="label-box">
              クリックしてファイルをアップロード
            </label>
        </div>

        <div class="items-sell-file">
          <input class="items-sell-file-img" type="file">
            <div class="items-sell-file-img-remove">
              削除
            </div>
        </div>
      </div>

<%# 商品名 %>
      <div class="items-name">
        <div class="items-name-sell-content">
          <div class="items-name-form">
            <label class="items-name-label">
              商品名
            <span class="items-sell-require">必須</span>
            </label>
            
              <textarea id="items-name-text" placeholder="商品名（必須 40文字まで)"></textarea>
            
          </div>

<%# 商品の説明 %>
          <div class="items-explain">
            <label class="items-name-label">
              商品の説明
            <span class="items-sell-require">必須</span>
            </label>
            <textarea id="items-name-text" placeholder="商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" rows="7"></textarea>
          </div>
        </div>

<%# 商品の詳細 %>
        <div class="items-detaile">
          <div class="items-detaile-content">
            <h3 class="items-detaile-content-head">商品の詳細</h3>
            <div class="items-detaile-content-formbox">
              <div class="items-detaile-content-category">
                <label class="items-name-label">
                  カテゴリー
                <span class="items-sell-require">必須</span>
                </label>
                <div class="items-detaile-select">
                  <select  class="items-select">
                    <option value="1">---</option>
                    <option value="2">レディース</option>
                  </select>
                </div>
              </div>

              <div class="items-detaile-status">
                <label class="items-name-label">
                  商品の状態
                <span class="items-sell-require">必須</span>
                </label>
                <div class="items-detaile-select">
                  <select class="items-select">
                    <option value="1">---</option>
                    <option value="2">新品、未使用</option>
                    <option value="3">未使用に近い</option>
                    <option value="4">目立った傷や汚れなし</option>
                    <option value="5">やや傷や汚れあり</option>
                    <option value="6">傷や汚れあり</option>
                    <option value="7">全体的に状態が悪い</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

<%# 配送について %>
        <div class="items-delivery">
          <div class="items-delivery-content">
            <div class="items-delivery-info">
              <h3 class="items-delivery-head">配送について</h3>
              <a class="items-question" href="/">?</a>
            </div>

            <div class="items-delivery-box">
              <div class="items-delivery-formtop">
                <label class="items-name-label">
                  配送料の負担
                <span class="items-sell-require">必須</span>
                </label>
                <div class="items-delivery-select">
                  <select class="items-select">
                    <option value="1">---</option>
                    <option value="2">着払い(購入者負担)</option>
                    <option value="3">送料込み(出品者負担)</option>
                  </select>
                </div>
              </div>

              <div class="items-delivery-formgroup">
                <label class="items-name-label">
                  発送元の地域
                <span class="items-sell-require">必須</span>
                </label>
                <div class="items-delivery-select">
                  <select class="items-select">
                    <option value="0">---</option>
                    <option value="1">北海道</option>
                    <option value="2">青森県</option>
                  </select>
                </div>
              </div>

              <div class="items-delivery-formgroup">
                <label class="items-name-label">
                  発送までの日数
                <span class="items-sell-require">必須</span>
                </label>
                <div class="items-delivery-select">
                  <select class="items-select">
                    <option value="0">---</option>
                    <option value="1">1~2日で発送</option>
                    <option value="2">2~3日で発送</option>
                    <option value="3">4~7日で発送</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<%# 販売価格 %>
      <div class="items-price">
        <div class="items-price-content">
          <div class="items-price-box">
            <h3 class="items-price-head">販売価格(300〜9,999,999)</h3>
            <a class="items-question" href="/">?</a>
          </div>

          <div class="items-price-formbox">
            <ul class="items-price-sell">
              <li class="items-price-right-sell">
                <div class="clearfix">
                  <label class="items-price-label">
                    価格
                  <span class="items-sell-require">必須</span>
                  </label>
                  <label class="items-price-mark">¥</label>
                  <div class="items-price-right ">
                    <textarea class="items-price-text-input" placeholder="例）300" id="item-price"></textarea>
                  </div>
                </div>

              </li>
              <li class="items-price-right-sell">
                <div class="items-price-fee">
                  販売手数料 (10%)
                </div>
              </li>

              <li class="items-price-right-sell">
                <div class="items-price-profit">
                  販売利益
                </div>
              </li>
            </ul>
          </div>
        </div>

<%# 下の注意事項 %>
        <div class="items-caution">
          <div class="items-caution-content ">
            <div class="items-caution-box">
              <p class="items-caution-text">
                <a class="items-caution-link" href="/">禁止されている出品、</a>
                <a class="items-caution-link" href="/">行為</a>
                を必ずご確認ください。
              </p>
              <p class="items-caution-text">
                またブランド品でシリアルナンバー等がある場合はご記載ください。
                <a class="items-caution-link" href="/">偽ブランドの販売</a>
                は犯罪であり処罰される可能性があります。
              </p>
              <p class="items-caution-text">
                また、出品をもちまして
                <a class="items-caution-link" href="/">加盟店規約</a>
                に同意したことになります。
              </p>
            </div>

            <input type="submit" value="出品する" class="items-price-btn.items-price-btn-red" >
            <div class="items-price-btn">
              <a class="items-price-btn-gray" href="/">もどる</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<%# フッター %>
<footer class="items-footer">
  <div class="items-footer-center">
    <nav>
      <ul class="items-footer-menu">
        <li>
          <a href="#">プライバシーポリシー</a>
        </li>
        <li>
          <a href="#">フリマ利用規約</a>
        </li>
        <li>
          <a href="#">特定商取引に関する表記</a>
        </li>
      </ul>
    </nav>
    <div class="items-footer-logo">
      <a href="#"><img width="185" height="50" src="/assets/logo.png"></a>
    </div>
    <p class="inc">
      ©︎Furima,Inc.
    </p>
  </div>
</footer>

