<%= render "layouts/header" %>

<!-- 商品説明〜詳細-->
<div class="item-show">
  <div class="item-show-main">
    <div class="item-show-container">
      <div class="item-box">
        <h2 class="item-box-name">商品名</h2>
        <div class="item-box-img">
          <img src="#" alt="商品の画像" width="550" height="350">
        </div>
        <div class="item-box-price">
          <span>
            ¥1000
          </span>
          <div class="item-box-price-detail">
            <span>
              (税込) 送料込み
            </span>
          </div>
        </div>
        <div class="item-explain">
          商品の説明、商品の説明、商品の説明、商品の説明、商品の説明、商品の説明、商品の説明、商品の説明、商品の説明、商品の説明、商品の説明、商品の説明、商品の説明、
        </div>

        <!-- 詳細テーブル -->
        <div class="detail-table">
          <table>
            <tbody>
              <tr>
                <th>出品者</th>
                <td>hoge</td>
              </tr>
              <tr>
                <th>カテゴリー</th>
                <td>
                  <a href="#">ベビー・キッズ</a>
                </td>
              </tr>
              <tr>
                <th>ブランド</th>
                <td>
                </td>
              </tr>
              <tr>
                <th>商品のサイズ</th>
                <td></td>
              </tr>
              <tr>
                <th>商品の状態</th>
                <td>未使用に近い</td>
              </tr>
              <tr>
                <th>配送料の負担</th>
                <td>送料込み（出品者負担）</td>
              </tr>
              <tr>
                <th>発送元の地域</th>
                <td>
                  <a href="#">○○県</a>
                </td>
              </tr>
              <tr>
                <th>発送日の目安</th>
                <td>4-7日で発送</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="option">
          <div class="favorite-btn">
            <i class="fa fa-star"></i> お気に入り 0
          </div>
          <div class="report-btn">
            <a href="#">
              <i class="fa fa-flag"></i> 不適切な商品の通報
            </a>
          </div>
        </div>
      </div>
    </div>



    <!-- コメント -->
    <div class="comment-box">
      <form class="new-comment">
        <textarea class="text-comment"></textarea>
        <p>
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
        <br>
        <button type="submit" class="comment-btn">
          <i class="fa fa-comment"></i> コメントする
        </button>
      </form>
    </div>
  </div>



  <!-- リンク -->
  <div class="links">
    <div class="front-item">
      <a href="#"><i class="fa fa-angle-left"></i>
        <span>前の商品</span>
      </a>
    </div>
    <div class="back-item">
      <a href="#"><span>後ろの商品</span>
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>


  <div class="relatedItems">
    <a href="#">ベビー・キッズをもっと見る</a>
    <div class="productLists">

    </div>
  </div>
</div>
</div>
</div>

<%= render "layouts/footer" %>
