.header{
  padding: 0 60px;
  
}

.main-header{
  position: relative;
  display: flex;
  max-width: 1040px;
  width: 100%;
  min-height: 50px;
  margin: 0 auto;
  padding: 15px 0 0;
}

.icon{
  padding-bottom: 10px;
  margin-right: 30px;
  border-radius: 4px;
}

.icon > a{
  width: 140px;
  display: block;
}

.top-icon{
  width: 100%;
  vertical-align: bottom;
}

.search-box{
  margin-left: auto;
  width: 100%;
}

.search-form{
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}

input{
  width: calc(100% - 26px);
  height: 36px;
  padding: 0 0 0 5px;
}

.search-button{
  width: 36px;
  border: 0;
  cursor: pointer;
  background-color: #3CCACE;
  padding: 8px;
}

.search-icon{
  width: 100%;
  vertical-align: bottom;
}

.result-lists{
  display: flex;
  position: absolute;
  right: 0;
  top: 36px;
  z-index: 2;
}

.nav{
  font-size: 14px;
  display: flex;
  padding-bottom: 10px;
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}

.lists-left{
  position: relative;
  display: flex;
}

.lists-left-item{
  display: flex;
  line-height: 38px;
  padding: 0 0 0 16px;
}

.lists-left-item-first{
  text-decoration: none;
  padding: 0;
}

.lists-left-item > a{
  color: #333;
  text-decoration: none;
  line-height: 32px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 18px;
  padding-right: 30px;
}

.tree{
  z-index: 2;
  position: absolute;
  background-color: #fff;
  width: 240px;
  top: 40px;
}

.displayNone{
  display: none;
}

.category-tree{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.category-tree-item{
  position: relative;
}

.category-tree-item > a{
  color: #333;
  text-decoration: none;
  line-height: 32px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 18px;
  padding-right: 30px;
}

.listsRight{
  margin-left: auto;
  display: flex;
  list-style: none;
}

.listsRight-item{
  color: #333;
  line-height: 38px;
  padding: 0 0 0 16px;
}

.listsRight-item>a{
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  line-height: 32px;
}

.main{
  background: #f8f8f8;
}

.main-visual{
  height: 560px;
  background-image: url(/assets/bg-mainVisual-pict_pc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding: 0 60px;
  display: flex;
  align-items: center;
}

.content{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 35px 0 0 0;
}

.content-subtitle{
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  font-size: 60px;
  line-height: 1.2;
  color: #fff;
}

.content-subtitle > br{
  font-size: 100%;
  font-weight: normal;
}

.content-text{
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  font-size: 18px;
  color: #fff;
  line-height: 1.77778;
  margin: 16px 0 0 0;
}

.content-btn{
  display: flex;
  margin: 24px 0 0 0;
}

.content-btn > a:first-child{
  margin-right: 10px;
}

.app-btn{
  width: 180px;
}

.app-btn > img{
  width: 100%;
  vertical-align: bottom;
}

.picture{
  position: absolute;
  top: 0;
  right: 210px;
}

.top-introduction{
  padding: 60px 20px;
}

.top-introduction > .sub-title{
  text-align: center;
  font-size: 26px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}

.top-introduction > .sub-title::after{
  content: "";
  width: 70px;
  height: 4px;
  background-color: #3CCACE;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.lists{
  text-align: center;
  display: flex;
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.list{
  width: 30%;
  margin: 16px 5% 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-pict{
  position: relative;
  margin-bottom: 20px;
}

.number{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4%;
  font-size: 30px;
  text-align: center;
  margin: 0 5px 0 0;
  padding: 10px 20px;
  background-color: #3CCACE;
  color: #fff;
}

.list-pict > img{
  width: 100%;
  vertical-align: bottom;
}

.list-text{
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
  margin: 0 0 0 2px;
}

.text-blue {
  color: #3CCACE;
}

.list-description{
  font-size: 18px;
  line-height: 1.5;
  margin: 16px 0 0;
}

.list-last{
  margin: 16px 0 0;
}

.top-middle{
  background-image: url(/assets/bg-topMiddleDl-pict.jpg);
  background-position: bottom right;
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;
}

.top-middle-inner{
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  text-align: left;
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}

.top-middle-inner > .sub-title{
  font-size: 27px;
  font-weight: bold;
  line-height: 1.4;
}

.top-middle-text{
  font-size: 18px;
  margin: 20px 0 30px;
  line-height: 1.5;
}

.top-middle-btn{
  display: flex;
}

.top-middle-btn > a{
  margin-right: 10px;
}

.middle-app-btn{
  width: 180px;
  vertical-align: bottom;
}

.top-key-features{
  padding: 60px 100px;
  background-color: #fff;
}

.top-key-head{
  font-size: 27px;
  text-align: center;
  margin: 0 0 40px;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}

.top-key-head::after{
  content: "";
  width: 70px;
  height: 4px;
  background-color: #3CCACE;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.top-items{
  max-width: calc(1040px + 20px);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.top-item{
  display: flex;
  flex-direction: column;
  width: 28%;
  text-align: center;
  padding: 0 20px;
}

.top-item-img{
  width: 70%;
  margin: 0 auto;
  line-height: 120px;
}

.top-item-img > img{
  width: 100%;
  vertical-align: bottom;
}

.top-item-subtitle{
  margin: 38px 0 10px;
  font-size: 19px;
  font-weight: bold;  
}

.top-item-detail{
  margin: 0 0 40px;
  font-size: 17px;
  font-weight: 200;
  text-align: left;
}

.pickup-container{
  padding: 80px 0 0;
  background-color: #f8f8f8;
  height: 100%;
}

.pickup-container-head{
  text-align: center;
  font-size: 28px;
  line-height: 1.4;
  font-weight: bold;  
}

.product-head{
  text-align: center;
}

.product-head > a{
  font-size: 24px;
  text-decoration: none;
  color: #3CCACE; 
}

.product-head-title{
  font-weight: bold;
}

.product-lists{
  width: 780px;
  margin: 26px auto;
  display: flex;
  justify-content: space-around;
}

.product-list{
  width: 220px;
  display: inline-block;
}

.product-list > a{
  background-color: #fff;
  display: inline-block;  
  text-decoration: none;
}

.product-list-img{
  width: 220px;
  height: 150px;
  position: relative;
  overflow: hidden;
  margin: 0;
  z-index: auto;  
}

.product-list-img > img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: auto;
  height: 150px;
  object-fit: cover; 
}

.product-list-body{
  background-color: white;
  color: #333;
  padding: 16px;  
}

.product-name{
  overflow: hidden;
  line-height: 1.5;
  font-size: 16px;
  text-align: left;
}

.product-details{
  font-size: 16px; 
}

.product-details > ul{
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.star-icon{
  height: 15px;
  width: 15px;
}

.star-icon > img{
  width: 15px;
  height: 15px;
}

.product-details > p{
  font-size: 10px;
  text-align: left;
}

.app-banner{
  background-image: url(/assets/bg-appBanner-pict.jpg);
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.app-banner-inner{
  color: #fff;
  text-align: center;  
}

.banner-inner-title{
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4;  
}

.banner-inner-text{
  font-size: 35px;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.banner-inner-icon{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px auto 0; 
}

.banner-inner-icon > a:first-child{
  margin-right: 10px;
}

.banner-app-btn{
  width: 180px; 
}

.top-footer{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center; 
}

.top-footer-contents{
  max-width: 840px;
  margin: 0 auto;
  display: flex; 
}

.top-footer-content{
  display: flex;
  flex-direction: column;
  width: calc(1 / 3 * 100%);
  margin: 0 2% 0 0;
} 

.footer-content-head{
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: bold;  
}

.footer-content-head > ul{
  list-style: none;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  line-height: 32px; 
}

.footer-logo{
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
} 

.footer-logo > a >img{
  width: 100%;
  vertical-align: bottom;  
}

.top-footer > p{
  font-size: 14px; 
}

.purchase-btn{
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;  
}

.purchase-btn-text{
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px; 
}

.purchase-btn-icon{
  width: 60%; 
}