// Place all the styles related to the sign_up controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-registration-complete-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10rem;
}

#user-registration-complete-title{
  font-weight: bold;
  margin: 3rem 0;
}

#user-registration-complete-root-btn{
  margin: 3rem 0;
}