<%= render "layouts/sign-up-header"%>

<div class ='transaction-main'>
  <div class ='transaction-main-wrap'>
    <div class='transaction-main-header'>
      <h1 class='transaction-main-header-text'>
        購入内容の確認
      </h1>
    </div>
  </div>
</div>




<%= render "layouts/sign-up-footer"%>