<%= render "shared/second-header"%>

<div id="user-registration-complete-wrapper">

  <p id="user-registration-complete-title">ユーザー登録が完了しました。</p>

  <%= link_to 'FURIMAの利用を始める', root_path, class:"item-red-btn", id: "user-registration-complete-root-btn" %>

</div>

<%= render "shared/second-footer"%>